BETTER_AUTH_SECRET=your_secret_key
BETTER_AUTH_URL=base_url_of_your_app
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_super_secret_api_secret

DATABASE_URL="postgresql://username:password@localhost:5432/mydb"

PORT=3001

NODE_ENV=development